.c-card {
  position: relative;
  &__num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $main;
    color: $white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: $font-m;
    @include mq(sm) {
      width: 15vw;
      height: 15vw;
      line-height: 15vw;
      font-size: $font-xl;
    }
  }
  &__txt {
    display: block;
    text-align: center;
    width: 90%;
    margin-left: auto;
  }
  &__imgWrap {
    position: relative;
    width: 100%;
    padding-top: 70.8695%;
    margin-bottom: 10px;
  }
  &__img {
    &--numList {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 90%;
      height: 90%;
      @include mq(sm) {
        width: 95%;
        height: 95%;
      }
    }
  }
}
