.c-title {
  font-size: $font-xl;
  margin-bottom: $margin-l;
  text-align: center;
  @include mq() {
    font-size: $font-l;
  }
  &--m {
    font-size: $font-l;
    margin-bottom: 20px;
  }
  &--s {
    font-size: $font-m;
    margin-bottom: 20px;
  }
}
