.p-challenge {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &__content {
    width: 70%;
    @include mq(lg) {
      width: 100%;
      margin-bottom: $margin-l;
    }
  }
  &__txt {
    background: $light-gray;
    min-height: 300px;
    padding: 20px;
  }
  &__sidebar {
    width: 25%;
    @include mq(lg) {
      width: 100%;
    }
  }
  &__currentStep {
    background-color: $light-gray;
  }
  .c-button {
    @include mq() {
      margin: $margin-l auto;
    }
  }
}
