.p-detail {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin-l;
    @include mq() {
      flex-direction: column;
    }
  }
  &__txt {
    width: 48%;
    @include mq() {
      width: 100%;
      margin-bottom: $margin-l;
    }
  }
  &__img {
    width: 48%;
    height: 400px;
    @include mq() {
      width: 100%;
    }
  }
  &__child {
    margin-bottom: $margin-l;
    &:last-of-type {
      margin-bottom: 0;
    }
    &__contentWrap {
      display: block;
      width: 100%;
      border: 2px solid $main;
      padding: 10px 20px;
      margin-bottom: $margin-m;
      border-radius: 4px;
      &:hover {
        text-decoration: none;
        box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
    &__title {
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $main;
    padding: 20px;
    margin-bottom: $margin-l;
    border-radius: 4px;
    @include mq(sm) {
      flex-direction: column;
    }
  }
  &__authorIcon {
    width: 15%;
    @include mq() {
      width: 25%;
    }
    @include mq(sm) {
      width: 100%;
      margin-bottom: $margin-m;
    }
    &__imgWrap {
      position: relative;
      padding-top: 100%;
      width: 100%;
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__authorIntro {
    width: 80%;
    @include mq(sm) {
      width: 100%;
      margin-bottom: $margin-m;
    }
    &__txt {
      width: 100%;
      min-height: 150px;
      background: $light-gray;
      padding: 10px;
      @include mq(sm) {
        min-height: 300px;
      }
    }
  }
  .c-button {
    &:hover {
      text-decoration: none;
    }
  }
}
