.p-manual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .c-card {
    width: 23%;
    @include mq() {
      width: 50%;
      margin-bottom: $space-m;
    }
    @include mq(sm) {
      width: 100%;
    }
  }
}
