.p-mypage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__content {
    margin-bottom: $space-l;
    @include mq(sm) {
      .c-title {
        font-size: $font-m;
      }
    }
  }
}
