@import url(https://fonts.googleapis.com/css?family=Nunito);/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select,
textarea {
  vertical-align: middle;
  border: none;
  font-size: 16px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

*,
*::before,
*::after {
  font-family: "Noto Sans", sans-serif;
  color: #2d2d2d;
  line-height: 1.8;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

.l-footer {
  background: #000;
  width: 100%;
}

.l-footer__content {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .l-footer__content {
    width: 100%;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 790px) {
  .l-footer__content {
    flex-direction: column;
  }
}

.l-footer__nav {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .l-footer__nav {
    width: 50%;
  }
}

@media screen and (max-width: 790px) {
  .l-footer__nav {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .l-footer .p-nav__list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 790px) {
  .l-footer li {
    line-height: 2;
  }
}

.l-header {
  width: 100%;
  background: white;
}

@media screen and (max-width: 1200px) {
  .l-header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
  }
}

.l-header__content {
  width: 1100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .l-header__content {
    width: 100%;
    padding: 10px 20px;
  }
}

.l-header__nav {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .l-header__nav {
    width: auto;
  }
}

.l-sec {
  width: 1100px;
  margin: 0 auto 80px auto;
}

@media screen and (max-width: 1200px) {
  .l-sec {
    width: 100%;
    padding: 0 20px;
  }
}

.l-main {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .l-main {
    width: 100%;
    padding: 0 20px;
  }
}

.c-bread {
  width: 100%;
  margin-bottom: 40px;
  background: #3d4453;
  padding: 5px 0;
}

@media screen and (max-width: 1200px) {
  .c-bread {
    margin: 100px auto 40px auto;
  }
}

.c-bread__content {
  width: 1100px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .c-bread__content {
    width: 100%;
    padding: 5px 20px;
  }
}

.c-bread__arrow {
  color: #fff;
  margin: 0 10px;
}

.c-bread__txt {
  color: #fff;
}

.c-button {
  border: 2px solid;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background: transparent;
}

.c-button:hover {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.125);
  text-decoration: none;
}

.c-button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.c-button--default {
  border-color: #e98d14;
  color: #e98d14;
}

.c-button--transparent {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.c-button--wide {
  width: 300px;
}

@media screen and (max-width: 790px) {
  .c-button--wide {
    width: 100%;
  }
}

.c-card {
  position: relative;
}

.c-card__num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e98d14;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 520px) {
  .c-card__num {
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 30px;
  }
}

.c-card__txt {
  display: block;
  text-align: center;
  width: 90%;
  margin-left: auto;
  font-size: 20px;
}

@media screen and (max-width: 520px) {
  .c-card__txt {
    width: 100%;
  }
}

.c-card__imgWrap {
  position: relative;
  width: 100%;
  padding-top: 70.8695%;
  margin-bottom: 10px;
}

.c-card__img--numList {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 520px) {
  .c-card__img--numList {
    width: 95%;
    height: 95%;
  }
}

.c-form {
  width: 700px;
  margin: auto;
}

@media screen and (max-width: 790px) {
  .c-form {
    width: 100%;
  }
}

.c-form__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ededed;
  padding: 30px 0;
}

.c-form__row::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  height: 2px;
  background-color: #e98d14;
}

@media screen and (max-width: 790px) {
  .c-form__row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.c-form__label {
  width: 25%;
}

@media screen and (max-width: 790px) {
  .c-form__label {
    width: 100%;
    margin-bottom: 20px;
  }
}

.c-form__inputWrap {
  width: 75%;
}

@media screen and (max-width: 790px) {
  .c-form__inputWrap {
    width: 100%;
  }
}

.c-form__input,
.c-form__textarea,
.c-form__select {
  background: #ededed;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.c-form__select {
  height: 50px;
}

.c-form__textarea {
  height: 300px;
}

.c-form__linkWrap {
  text-align: right;
  margin-bottom: 10px;
}

.c-form__checkWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

.c-form__previewImg {
  width: 50%;
}

@media screen and (max-width: 790px) {
  .c-form__previewImg {
    width: 100%;
  }
}

.c-flash {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.c-flash__txt {
  text-align: center;
  color: white;
}

.c-hamburger {
  width: 40px;
  height: 32px;
  position: relative;
  z-index: 4;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1200px) {
  .c-hamburger {
    display: block;
  }
}

.c-hamburger.active {
  padding-left: 10px;
}

.c-hamburger.active .c-hamburger__line {
  background: #fff;
  transition: all 0.8s;
}

.c-hamburger.active .c-hamburger__line:first-child {
  transform: rotate(45deg) translate(0, 17px);
}

.c-hamburger.active .c-hamburger__line:nth-child(2) {
  opacity: 0;
}

.c-hamburger.active .c-hamburger__line:last-child {
  transform: rotate(-45deg) translate(3px, -20px);
}

.c-hamburger__line {
  width: 40px;
  height: 4px;
  background: #2d2d2d;
  position: absolute;
  transition: all 0.8s;
}

.c-hamburger__line:nth-child(2) {
  top: 14px;
  right: 0;
  width: 30px;
  opacity: 1;
}

.c-hamburger__line:last-child {
  bottom: 0;
}

.c-hamburger__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 450px;
  background: rgba(233, 141, 20, 0.9);
  margin: 0;
  padding: 130px 25px 0 25px;
  transform: translateX(450px);
  opacity: 0;
  transition: all 0.8s;
}

@media screen and (max-width: 1200px) {
  .c-hamburger__nav {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .c-hamburger__nav {
    width: 100%;
    transform: translateX(100%);
  }
}

.c-hamburger__nav.active {
  transition: all 0.8s;
  transform: translateX(0);
  opacity: 1;
}

.c-hamburger__item {
  padding: 16px 0 16px 14px;
  border-bottom: 1px solid #fff;
  display: none;
}

@media screen and (max-width: 1200px) {
  .c-hamburger__item {
    display: block;
  }
}

.c-hamburger__txt {
  color: #fff;
}

.c-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #e98d14;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
  width: calc(50% - 10px);
}

@media screen and (max-width: 790px) {
  .c-panel {
    width: 100%;
    height: auto;
  }

  .c-panel:last-of-type {
    margin-bottom: 0;
  }
}

.c-panel:hover {
  text-decoration: none;
}

.c-panel__content {
  width: 100%;
}

.c-panel__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-panel__imgWrap {
  position: relative;
  width: 100%;
  padding-top: 56%;
  margin-bottom: 20px;
}

.c-panel__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-panel__txt {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  height: 120px;
  overflow: hidden;
}

.c-panel__badge {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  transform: translate(30%, -30%);
  color: white;
  line-height: 4.5vw;
  text-align: center;
  background: #e98d14;
  border-radius: 50%;
  width: 4.5vw;
  height: 4.5vw;
}

@media screen and (max-width: 1200px) {
  .c-panel__badge {
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 790px) {
  .c-panel__badge {
    width: 12vw;
    height: 12vw;
    line-height: 12vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 520px) {
  .c-panel__badge {
    width: 18vw;
    height: 18vw;
    line-height: 18vw;
    font-size: 5.5vw;
  }
}

.c-time {
  text-align: right;
  font-weight: bold;
  margin-bottom: 40px;
}

.c-title {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 790px) {
  .c-title {
    font-size: 25px;
  }
}

.c-title--m {
  font-size: 25px;
  margin-bottom: 20px;
}

.c-title--s {
  font-size: 20px;
  margin-bottom: 20px;
}

.c-share {
  display: flex;
  justify-content: center;
}

.c-share__button {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  padding: 20px 80px;
  border: 2px solid #1da1f2;
  overflow: hidden;
}

@media screen and (max-width: 790px) {
  .c-share__button {
    width: 100%;
    padding: 20px 0;
  }
}

.c-share__button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1da1f2;
  transform: translateX(0);
  transition: transform 0.4s;
}

.c-share__button:hover {
  text-decoration: none;
}

.c-share__button:hover::after {
  transform: translateX(500px);
  transition: transform 0.6s;
}

.c-share__button:hover > .c-share__img {
  transform: translate(500px, -50%);
  transition: transform 0.4s;
}

.c-share__button:hover > .c-share__txt {
  color: #1da1f2;
  transition: color 0.4s;
}

.c-share__img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  width: 30px;
  transition: transform 0.6s;
}

.c-share__txt {
  display: inline-block;
  color: #fff;
  transition: color 0.4s;
}

.p-challenge {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.p-challenge__content {
  width: 70%;
}

@media screen and (max-width: 1025px) {
  .p-challenge__content {
    width: 100%;
    margin-bottom: 40px;
  }
}

.p-challenge__txt {
  background: #f5f5f5;
  min-height: 300px;
  padding: 20px;
}

.p-challenge__sidebar {
  width: 25%;
}

@media screen and (max-width: 1025px) {
  .p-challenge__sidebar {
    width: 100%;
  }
}

.p-challenge__currentStep {
  background-color: #f5f5f5;
}

@media screen and (max-width: 790px) {
  .p-challenge .c-button {
    margin: 40px auto;
  }
}

.p-concept {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 790px) {
  .p-concept {
    flex-direction: column;
  }
}

@media screen and (max-width: 790px) {
  .p-concept__txt {
    margin-bottom: 40px;
  }
}

.p-concept__img {
  width: 48%;
}

@media screen and (max-width: 790px) {
  .p-concept__img {
    width: 100%;
  }
}

.p-detail__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 790px) {
  .p-detail__content {
    flex-direction: column;
  }
}

.p-detail__txt {
  width: 48%;
}

@media screen and (max-width: 790px) {
  .p-detail__txt {
    width: 100%;
    margin-bottom: 40px;
  }
}

.p-detail__img {
  width: 48%;
  height: 400px;
}

@media screen and (max-width: 790px) {
  .p-detail__img {
    width: 100%;
  }
}

.p-detail__child {
  margin-bottom: 40px;
}

.p-detail__child:last-of-type {
  margin-bottom: 0;
}

.p-detail__child__contentWrap {
  display: block;
  width: 100%;
  border: 2px solid #e98d14;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.p-detail__child__title {
  display: block;
  width: 100%;
  overflow: hidden;
}

.p-detail__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e98d14;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
}

@media screen and (max-width: 520px) {
  .p-detail__author {
    flex-direction: column;
  }
}

.p-detail__authorIcon {
  width: 15%;
}

@media screen and (max-width: 790px) {
  .p-detail__authorIcon {
    width: 25%;
  }
}

@media screen and (max-width: 520px) {
  .p-detail__authorIcon {
    width: 100%;
    margin-bottom: 20px;
  }
}

.p-detail__authorIcon__imgWrap {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.p-detail__authorIcon__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-detail__authorIntro {
  width: 80%;
}

@media screen and (max-width: 520px) {
  .p-detail__authorIntro {
    width: 100%;
    margin-bottom: 20px;
  }
}

.p-detail__authorIntro__txt {
  width: 100%;
  min-height: 150px;
  background: #f5f5f5;
  padding: 10px;
}

@media screen and (max-width: 520px) {
  .p-detail__authorIntro__txt {
    min-height: 300px;
  }
}

.p-detail .c-button:hover {
  text-decoration: none;
}

.p-hero {
  position: relative;
  padding-top: 50%;
  margin-bottom: 80px;
}

@media screen and (max-width: 1200px) {
  .p-hero {
    margin: 100px 0 80px 0;
  }
}

@media screen and (max-width: 790px) {
  .p-hero {
    padding-top: 100%;
  }
}

.p-hero__copyWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-hero__copy {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 40px;
  white-space: nowrap;
  color: #000;
}

@media screen and (max-width: 790px) {
  .p-hero__copy {
    font-size: 10vw;
    margin-bottom: 3vw;
  }
}

.p-hero__copy--accent {
  color: #e98d14;
}

.p-hero__copy--small {
  color: #fff;
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
}

@media screen and (max-width: 1200px) {
  .p-hero__copy--small {
    font-size: 4vw;
  }
}

.p-hero__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.p-hero__button {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

@media screen and (max-width: 790px) {
  .p-hero__button {
    padding: 5px 10px;
    font-size: 14px;
  }
}

.p-index {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 790px) {
  .p-index {
    flex-direction: column;
  }
}

.p-index__search {
  width: 25%;
  height: auto;
  border: 2px solid #e98d14;
  padding: 30px 10px;
  border-radius: 4px;
}

@media screen and (max-width: 790px) {
  .p-index__search {
    width: 100%;
    margin-bottom: 40px;
  }
}

.p-index__notFound {
  width: 70%;
  text-align: center;
}

.p-index__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

@media screen and (max-width: 790px) {
  .p-index__content {
    width: 100%;
  }
}

.p-index .c-form__row {
  flex-direction: column;
  border-bottom: none;
  padding: 0;
}

.p-index .c-form__row::after {
  display: none;
}

.p-index .c-form__row label {
  width: 100%;
  margin-bottom: 10px;
}

.p-index .c-button {
  width: 90%;
}

.p-logo {
  width: 250px;
}

@media screen and (max-width: 1025px) {
  .p-logo {
    width: auto;
    height: 50px;
  }
}

@media screen and (max-width: 790px) {
  .p-logo__footer {
    margin-bottom: 40px;
  }
}

.p-manual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-manual .c-card {
  width: 23%;
}

@media screen and (max-width: 790px) {
  .p-manual .c-card {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .p-manual .c-card {
    width: 100%;
  }
}

.p-mypage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-mypage__content {
  margin-bottom: 40px;
}

.p-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-nav__item--white {
  color: #fff;
}

.p-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  padding: 10px;
  border: 2px solid #e98d14;
  border-radius: 4px;
  width: 25%;
  height: 500px;
}

.p-sidebar__item {
  line-height: 2.5;
}

@media screen and (max-width: 1200px) {
  .p-sidebar {
    display: none;
  }
}

.p-target {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-target__item {
  width: 31%;
}

@media screen and (max-width: 790px) {
  .p-target__item {
    width: 80%;
    margin: 0 auto 40px auto;
  }
}

.p-target__imgWrap {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  background: #f8f4e6;
}

.p-target__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.p-target__txt {
  display: block;
  font-size: 25px;
  text-align: center;
}

.u-margin_auto {
  display: block;
  margin: auto;
}

.u-margin_auto--left {
  margin: auto auto auto 0;
}

.u-margin_auto--right {
  margin: auto 0 auto auto;
}

.u-margin_top--ss {
  margin-top: 5px;
}

.u-margin_top--s {
  margin-top: 10px;
}

.u-margin_top--m {
  margin-top: 20px;
}

.u-margin_top--l {
  margin-top: 40px;
}

.u-margin_top--xl {
  margin-top: 80px;
}

.u-margin_top--3l {
  margin-top: 100px;
}

.u-margin_bottom--ss {
  margin-bottom: 5px;
}

.u-margin_bottom--s {
  margin-bottom: 10px;
}

.u-margin_bottom--m {
  margin-bottom: 20px;
}

.u-margin_bottom--l {
  margin-bottom: 40px;
}

.u-margin_bottom--xl {
  margin-bottom: 80px;
}

.u-margin_bottom--3l {
  margin-bottom: 100px;
}

.u-none__mobile--xl {
  display: block;
}

@media screen and (max-width: 1200px) {
  .u-none__mobile--xl {
    display: none;
  }
}

.u-none__mobile--lg {
  display: block;
}

@media screen and (max-width: 1025px) {
  .u-none__mobile--lg {
    display: none;
  }
}

.u-none__mobile--md {
  display: block;
}

@media screen and (max-width: 790px) {
  .u-none__mobile--md {
    display: none;
  }
}

.u-none__mobile--sm {
  display: block;
}

@media screen and (max-width: 520px) {
  .u-none__mobile--sm {
    display: none;
  }
}

.u-none__pc--xl {
  display: none;
}

@media screen and (max-width: 1200px) {
  .u-none__pc--xl {
    display: block;
  }
}

.u-none__pc--lg {
  display: none;
}

@media screen and (max-width: 1025px) {
  .u-none__pc--lg {
    display: block;
  }
}

.u-none__pc--md {
  display: none;
}

@media screen and (max-width: 790px) {
  .u-none__pc--md {
    display: block;
  }
}

.u-none__pc--sm {
  display: none;
}

@media screen and (max-width: 520px) {
  .u-none__pc--sm {
    display: block;
  }
}

.u-display--block {
  display: block;
}

.u-display--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.u-weight--bold {
  font-weight: bold;
}

.u-font--alert {
  color: #ff0033;
  font-size: 14px;
}

