// margin: auto系を指定
.u-margin_auto {
  display: block;
  margin: auto;
  &--left {
    margin: auto auto auto 0;
  }
  &--right {
    margin: auto 0 auto auto;
  }
}

// margin-topを各サイズ指定
.u-margin_top {
  &--ss {
    margin-top: $margin-ss;
  }
  &--s {
    margin-top: $margin-s;
  }
  &--m {
    margin-top: $margin-m;
  }
  &--l {
    margin-top: $margin-l;
  }
  &--xl {
    margin-top: $margin-xl;
  }
  &--3l {
    margin-top: $margin-3l;
  }
}

// margin-bottomを各サイズ指定
.u-margin_bottom {
  &--ss {
    margin-bottom: $margin-ss;
  }
  &--s {
    margin-bottom: $margin-s;
  }
  &--m {
    margin-bottom: $margin-m;
  }
  &--l {
    margin-bottom: $margin-l;
  }
  &--xl {
    margin-bottom: $margin-xl;
  }
  &--3l {
    margin-bottom: $margin-3l;
  }
}

// PCサイズのみ表示したい場合に使用
.u-none__pc {
  &--xl {
    display: none;
    @include mq(xl) {
      display: block;
    }
  }
  &--lg {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &--md {
    display: none;
    @include mq() {
      display: block;
    }
  }
  &--sm {
    display: none;
    @include mq(sm) {
      display: block;
    }
  }
}

// スマホ・タブレットサイズのみ表示したい場合に使用
.u-none__mobile {
  &--xl {
    display: block;
    @include mq(xl) {
      display: none;
    }
  }
  &--lg {
    display: block;
    @include mq(lg) {
      display: none;
    }
  }
  &--md {
    display: block;
    @include mq() {
      display: none;
    }
  }
  &--sm {
    display: block;
    @include mq(sm) {
      display: none;
    }
  }
}

// displayを指定
.u-display {
  &--block {
    display: block;
  }
  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// font-weightを指定
.u-weight {
  &--bold {
    font-weight: bold;
  }
}

// 警告文のフォント
.u-font {
  &--alert {
    color: #ff0033;
    font-size: $font-ss;
  }
}
