// margin: auto系を指定
.u-margin_auto {
  display: block;
  margin: auto;
  &--left {
    margin: auto auto auto 0;
  }
  &--right {
    margin: auto 0 auto auto;
  }
}

// margin-topを各サイズ指定
.u-margin_top {
  &--ss {
    margin-top: $space-ss;
  }
  &--s {
    margin-top: $space-s;
  }
  &--m {
    margin-top: $space-m;
  }
  &--l {
    margin-top: $space-l;
  }
  &--xl {
    margin-top: $space-xl;
  }
  &--3l {
    margin-top: $space-3l;
  }
}

// margin-bottomを各サイズ指定
.u-margin_bottom {
  &--ss {
    margin-bottom: $space-ss;
  }
  &--s {
    margin-bottom: $space-s;
  }
  &--m {
    margin-bottom: $space-m;
  }
  &--l {
    margin-bottom: $space-l;
  }
  &--xl {
    margin-bottom: $space-xl;
  }
  &--3l {
    margin-bottom: $space-3l;
  }
}

// ディスプレイサイズによって要素の表示・非表示を切り替える
.u-none {
  // PCサイズのみ表示したい場合に使用
  &__mobile {
    &--xl {
      display: block;
      @include mq(xl) {
        display: none;
      }
    }
    &--lg {
      display: block;
      @include mq(lg) {
        display: none;
      }
    }
    &--md {
      display: block;
      @include mq() {
        display: none;
      }
    }
    &--sm {
      display: block;
      @include mq(sm) {
        display: none;
      }
    }
  }

  // スマホ・タブレットサイズのみ表示したい場合に使用
  &__pc {
    &--xl {
      display: none;
      @include mq(xl) {
        display: block;
      }
    }
    &--lg {
      display: none;
      @include mq(lg) {
        display: block;
      }
    }
    &--md {
      display: none;
      @include mq() {
        display: block;
      }
    }
    &--sm {
      display: none;
      @include mq(sm) {
        display: block;
      }
    }
  }
}

// displayを指定
.u-display {
  &--block {
    display: block;
  }
  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// font-weightを指定
.u-weight {
  &--bold {
    font-weight: bold;
  }
}

// 警告文のフォント
.u-font {
  &--alert {
    color: #ff0033;
    font-size: $font-ss;
  }
}
